
h1 a, h4 a {color: #C25100; font-family: 'Lobster';}

body {padding-left: 15px; background-color:#FFF;}
.main_class {}
.division { background-color: #EEEBBC; padding-left: 10px; padding-top: 5px; padding-bottom: 5px;}